---
layout: default
title: Peter Jefferys
---

{% comment %}
{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is your last template theme ever!" button-text="Buy Now" %}
{% endcomment %}

{% include sections/about.html %}

{% comment %}
{% include sections/features.html %}
{% endcomment %}

{% include sections/parallax-features.html %}

{% include sections/portfolio.html %}


{% comment %}
{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is here, download now!" button-text="Buy Now" %}
{% endcomment %}

{% comment %}
{% include sections/testimonials.html %}
{% endcomment %}

{% comment %}
{% include sections/blog.html %}
{% endcomment %}

{% comment %}
{% include sections/team.html %}
{% endcomment %}

{% include sections/offer.html offer-text="Want to collaborate?" button-text="Resume" %}

{% comment %}
{% include sections/prices.html %}
{% endcomment %}

{% include sections/contact.html %}

{% comment %}
{% include sections/offer.html offer-text="<strong>S</strong><span class=\"thin\">era</span> is here, download now!" button-text="Buy Now" %}
{% endcomment %}