<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>

		{% include header-pages.html %}


    {% if page.tagline != null %} {{ page.type }} {% else %} {{ page.tagline }} {% endif %}

		{% include sections/about-subpage.html %}

		{% include sections/parallax-focus.html %}

		{% include sections/offer.html offer-text="Let's build something together." button-text="Resume" %}

		{% include sections/contact.html %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
