<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>

		{% include header-pages.html %}


	
		{% include sections/about-subpage.html %}

		{% include sections/parallax-focus.html %}

		{% include sections/testimonials.html %}

		{% include sections/team.html %}



		{% include sections/offer.html offer-text="Want to collaborate?" button-text="Resume" %}

		{% include sections/contact.html %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
